{% extends "base.html" %}
{% block content %}
<h1>Cart</h1>
<div>
    {% if items %}
        <div>
            {% for item in items %}
            <div class="cart-item">
                <img src="/static/images/{{ item.product.image_url }}" alt="{{ item.product.title }}">
                <p>{{ item.product.title }}</p>
                <p>Price: £{{ item.product.price }}</p>
                <p>Quantity: {{ item.quantity }}</p>
                <button class="remove-from-cart-button btn btn-danger" data-product-id="{{ item.product.id }}">
                    Remove
                </button>
            </div>
            <hr>
            {% endfor %}
        </div>
        <div>
            <h3>Total: £{{ price }}</h3>
        </div>
    {% else %}
        <p>Your cart is empty. <a href="/">Continue shopping</a>.</p>
    {% endif %}
</div>
{% endblock %}
